<article class="large-12 medium-12 small-12 columns pagination no-sp cr-pages" id="blog-pagination">
  {{#if prev}}
    <a href="{{page_url prev}}" class="newer-posts cr-load-post-page sicon-er-l-cr"></a>
  {{/if}}
  {{#if next}}
    <a href="{{page_url next}}" class="older-posts cr-load-post-page sicon-er-r-cr"></a>
  {{/if}}
</div>